<hr>
<button class="btn btn-light" data-toggle="collapse" data-target="#questionForm_0" style="width:100%">Question 1</button>
<div id="questionForm_0" class="collapse questionForm">
    <div class="card">
        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div>
                <div>
                    <label>Question Text</label>
                    <input class="border rounded display-4" style="margin-bottom: 15px; padding: 5px; font-size: 40px; width: 100%; text-align: center;">
                </div>

                <div class="form-group">
                    <label>Correct Answer</label>
                    <select id="inputState" class="form-control">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control text-center" placeholder="Alternative A">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control text-center" placeholder="Alternative B">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control text-center" placeholder="Alternative C">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control text-center" placeholder="Alternative D">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>