
<table style="width: 80%" span class="boarder box-shadow">
<div class="container">
<tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Quizes Taken</th>
    <th>Clan</th>
</tr>
</div>

    <tr>
        <td>1</td>
        <td>preben;.no</td>
        <td>50</td>
        <td>UiA</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Stian</td>
        <td>94</td>
        <td>Thor Heyerdahl vgs</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Hårfagre</td>
        <td>38</td>
        <td>Dahlske</td>

    </tr>

</table> 