@model ApplicationUser


<h1>Profile Dashboard</h1>


<Table class="table">
<thead>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th></th>
</tr>
</thead>
</Table>
