@model ApplicationUser
@{
    var xp = Model.Xp;
    var xpNeeded = Model.XpNeeded;
    var percent = (xp / xpNeeded * 100) + "%";
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm">
            <div class="d-flex flex-column">
                <h4>Level</h4>
                <h1>@Model.Level</h1>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-flex flex-column">
                <img class="avatar mx-auto d-block" alt="" src="https://images.immediate.co.uk/volatile/sites/4/2018/08/iStock_000044061370_Medium-fa5f8aa.jpg?quality=45&crop=5px,17px,929px,400px&resize=960,413">
                @Model.UserName
            </div>
        </div>
        <div class="col-sm">
            <h4>Quizes taken</h4>
            <h1>43</h1>
        </div>
    </div>
   
    <div class="progress position-relative m-1" style="height: 29px">
        <div class="progress-bar" role="progressbar"></div>
        <h4 class="justify-content-center d-flex position-absolute w-100">
            @xp / @xpNeeded
        </h4>
    </div>
</div>