@model string
<div class="text-center">
    <h1 class="display-4">Group Maker</h1>
</div>

<form style="width: 555px; display: block; margin-right: auto; margin-left: auto;">
    <hr>
    <div class="text-danger"></div>
    <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" value="true" id="isPublicBox" checked>
        <label>Public</label>
    </div>
    <div class="form-check w-100">
        <input class="form-check-input" type="checkbox" value="false" id="domainRequiredBox">
        <label>Email Domain Required</label>
    </div>
    
    <div id="groupDomainDiv" class="form-group w-100" style="display: none">
        <label>Required Domain</label>
        <div maxlength="64" type="text" class="form-control bg-light" readonly>@Model</div>
    </div>
    <div class="form-group w-100">
        <label>Name</label>
        <input id="groupName" maxlength="64" type="text" class="form-control" style="font-size: 30px;" required>
    </div>
    <div class="form-group w-100">
        <label for="groupRegion">Region</label>
        <input id="groupRegion" maxlength="64" type="text" class="form-control" style="font-size: 30px;" required>
    </div>
    <hr>
    <button type="button" id="btnCreateGroup" class="btn btn-success" style="margin: 5px; width: 98%">Create Group</button>
</form>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/group/create.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/group/create.min.js" asp-append-version="true"></script>
    </environment>
}
