@model Quiz

<div class="d-flex m-2">
    <div class="card flex-fill box-shadow" style="min-width: 15em; max-width: 15em; height: 18em;">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">@Model.Topic</h4>
        </div>
    
        <div class="card-body d-flex flex-column">
            <small class="text-muted">Category:</small>
            <p>@Model.Category</p>
            <small class="text-muted">Description:</small>
            <p>@Model.Description</p>
            <a asp-controller="Quiz" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-lg btn-block btn-outline-primary mt-auto">Take quiz</a>
        </div>
    </div>
</div>

