@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
  <div class="col-sm">
    <div class="d-flex flex-column">
      <div id="LogoCircle">
        <img class="logo mx-auto d-block m-2" alt="" src="images/logo_transparent.png">
      </div>
      <br>
    </div>
    <p class="lead" style="text-align: center">Take and make quizzes for education or just for fun! Make a profile <strong>today</strong> and start your qwiz-journey.</p>
    <hr class="my-4">
    <p class="lead">
      <div id="buttons" style="text-align: center">
        <a class="btn btn-info btn-lg" href="Identity/Account/Login" role="button">Log in</a>
        <a class="btn btn-success btn-lg" href="Quiz" role="button">Play</a>
      </div>
    </p>
  </div>
</div>


<br></br>

<div id="info2" >
  
  <h2>Perfect for studying!</h2>
  <p> Qwiz is created to be an educational tool to be used in high school and higher education.
    As a student you can also revise your learning by taking quizzes specifically made for the subjects you are learning at the time. 
    You can also make your own customized quiz and share it with your classmates.</p>
  
</div>

<br></br>
<hr></hr>
<br></br>

<div id="info" >
  
  <h2>How to become a Qwiz-master</h2>
  <p> By making a profile on qwiz you are able to collect XP for every quiz you take. When you overcome levels and goals you receive 
    badges. On your profile page you can follow your progress on a progress bar.
  
  
</div>

