@model Quiz

<div class="text-center">
    <h1 class="display-4">Quiz Maker</h1>
</div>

<div id="testings"></div>

<form asp-action="Create" id="quizForm" style="width: 555px; display: block; margin-right: auto; margin-left: auto;">
    <hr>
    <div class="container">
        <div class="row">
            <div style="width: 35%;">
                <div class="form-group">
                    <input id="quizImg" type="file"/>
                    <img width="150" id="quizImgPrev"/>
                </div>
            </div>
            <div style="width: 65%;">
                 <div class="form-group">
                     <label>Title</label>
                     <input id="quizTitle" type="text" class="form-control" required>
                 </div>
                 <div class="form-group">
                     <label>Category</label>
                     <input id="quizCategory" type="text" class="form-control" required>
                 </div>
                <div class="form-group">
                    <label>Description</label>
                    <input id="quizDescription" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Quiz Difficulty</label>
                    <select id="quizDifficulty" class="form-control">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="quizField"></div>
    <hr>
    <button id="btnAddQuizForm" type="button" class="btn btn-primary" style="margin: 5px; width: 98%">+ Add question</button>
    <button id="btnCreateQuiz" type="button" class="btn btn-success" style="margin: 5px; width: 98%">Create Quiz</button>
    
    <div id="deleteDiv" style="display: none">
        <hr>
        <button id="btnDeleteQuiz" type="button" class="btn btn-danger" style="margin: 5px; width: 98%">Delete Quiz</button>
    </div>
    
    <div class="alert alert-danger" style="display: none">
        <button type="button" class="close">&times;</button>
        Couldn't create quiz! Some fields are missing!
    </div>
</form>

@section Scripts
{
    <script>let model = @Json.Serialize(Model);</script>
    <environment include="Development">
        <script src="~/js/quiz/create.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/quiz/create.min.js" asp-append-version="true"></script>
    </environment>
}
