<div class="text-center">
    <h1 class="display-4">Quiz Maker</h1>
</div>

<form asp-action="Create" id="quizForm" style="width: 555px; display: block; margin-right: auto; margin-left: auto;">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                Imagestuff
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Title</label>
                    <input id="quizTitle" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input id="quizCategory" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input id="quizDescription" type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
    <div id="quizField"></div>
    <hr>
    <button id="btnAddQuizForm" type="button" class="btn btn-primary" style="margin: 5px; width: 98%">+ Add question</button>
    <button id="btnCreateQuiz" type="button" class="btn btn-success" style="margin: 5px; width: 98%">Create Quiz</button>
    
    <div class="alert alert-danger" style="display: none">
        <button type="button" class="close">&times;</button>
        Couldn't create quiz! Some fields are missing!
    </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function() {
            let qfLength = () => $(".quizForm").length + 1;
            let getRoot = a => $(a).closest(".quizForm");

            $("#btnAddQuizForm").click(function() {
                $("#quizField").append(getQuizForm());
            });

            $("#btnCreateQuiz").click(function() {
                submitQuizForm();
            });

            $(".alert .close").click(function() {
                $(".alert").hide();
            });

            $(document).on("change", ".questionType", function(e) {
                let ans = getRoot(this).find(".correctAnswer");
                let alt = getRoot(this).find(".alternatives");

                switch (e.currentTarget.selectedIndex) {
                    case 0:
                    {
                        alt.show();
                        ans.empty();
                        
                        alt.find("input").each(function() {
                            $(this).attr("required", true);
                        });
                
                        ["A", "B", "C", "D"].forEach(e => {
                            ans.append($("<option></option>").text(e));
                        });
                
                        break;
                    }
                    case 1:
                    {
                        alt.hide();
                        ans.empty();
                        
                        alt.find("input").each(function() {
                            $(this).attr("required", false);
                        });
                
                        [{ text: "True", value: true }, { text: "False", value: false }].forEach(e => {
                            ans.append($("<option></option>").attr("value", e.value).text(e.text));
                        });
                
                        break;
                    }
                    default:
                    {
                        console.error("Not a valid question type!");
                    }
                }
            });

            $(document).on("click", "button.removeQuizForm", function() {
                    getRoot(this).remove();
                    updateQuizForms();
                });

            $(document).on("click", "button.collapseQuizForm", function() {
                    getRoot(this).find(".collapse").slideToggle("slow", "swing");
                });

            function updateQuizForms() {
                $(".collapseQuizForm").each(function(i) {
                    this.innerHTML = "Question " + (i + 1);
                });
            }
            
            function getType(i) {
                let questionTypes = ["multiple_choice", "true_false"];
                return questionTypes[i];
            }

            function submitQuizForm() {
                if (qfLength() > 1 && $("#quizForm")[0].checkValidity()) {
                    let quizForm = {
                        topic: $("#quizTitle").val(),
                        category: $("#quizCategory").val(),
                        description: $("#quizDescription").val(),
                        questions: []
                    };
                    
                    
                    
                    $(".quizForm").each(function(i) {
                        let type = getType([$(this).find(".questionType")[0].selectedIndex]);
                        let a = $(this).find(".alternative");
                        let alt = type === "multiple_choice" ? `${a[0].value}|${a[1].value}|${a[2].value}|${a[3].value}` : null;
                        
                        let question = {
                            correctAnswer: $(this).find(".correctAnswer").children("option:selected").val(),
                            questionText: $(this).find(".questionText")[0].value,
                            questionType: type,
                            alternatives: alt
                        };

                        quizForm.questions.push(question);
                    });
                    
                    console.log(quizForm);

                    axios.post('/api/create', quizForm).then(function(response) {
                        console.log(response);
                    });
                } else {
                    $(".alert").show().delay(2000).fadeOut();
                }
            }

            function getQuizForm() {
                return `
                <div class="quizForm"><hr>
                    <button type="button" class="btn btn-light collapseQuizForm" style="width:100%">Question ${qfLength()}</button>
                    <div class="collapse">
                        <button type="button" class="close removeQuizForm" aria-label="Close">
                            <span aria-hidden="true" title="Remove Question" style="color:#dc3545;">&times;</span>
                        </button>
                        <label>Question Text</label>
                        <textarea class="border rounded bg-white questionText" required style="margin-bottom: 15px; padding: 5px; font-size: 30px; width: 100%; text-align: center;"></textarea>
                        
                        <div class="form-group">
                            <label>Question Type</label>
                            <select class="form-control questionType">
                                <option>Multiple Choice</option>
                                <option>True or False</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Correct Answer</label>
                            <select class="form-control correctAnswer">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </div>
                        
                        <div class="form-row alternatives">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative A" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative B" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative C" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative D" required>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        });
    </script>
}
