@model Quiz

<div class="text-center">
    <h1 class="display-4">Quiz Maker</h1>
</div>

<form id="quizForm" style="width: 555px; display: block; margin-right: auto; margin-left: auto;">
    <hr>
    <div>
        <div class="form-group w-100">
            <label>Quiz Thumbnail</label>
            <input id="quizImg" type="file" class="w-100 mt-1"/>
            <img id="quizImgPrev" class="quizAvatar ml-0 mt-2" width="100" src="/images/logo_transparent_notxt.png"/>
        </div>
        <div class="form-group w-100">
            <label>Title</label>
            <input id="quizTitle" maxlength="128" type="text" class="form-control text-center" style="font-size: 30px;" required>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>Quiz Difficulty</label>
                <select id="quizDifficulty" class="form-control">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
            <div class="col form-group">
                <label>Category:</label>
                <select id="quizCategory" class="form-control">
                    <option value="0">General Knowledge</option>
                    <option value="1">Books</option>
                    <option value="2">Film</option>
                    <option value="3">Music</option>
                    <option value="4">Musicals &amp; Theatres</option>
                    <option value="5">Television</option>
                    <option value="6">Video Games</option>
                    <option value="7">Board Games</option>
                    <option value="8">Science &amp; Nature</option>
                    <option value="9">Computers</option>
                    <option value="10">Mathematics</option>
                    <option value="11">Mythology</option>
                    <option value="12">Sports</option>
                    <option value="13">Geography</option>
                    <option value="14">History</option>
                    <option value="15">Politics</option>
                    <option value="16">Art</option>
                    <option value="17">Celebrities</option>
                    <option value="18">Animals</option>
                    <option value="19">Vehicles</option>
                    <option value="20">Entertainment: Comics</option>
                    <option value="21">Gadgets</option>
                    <option value="22">Japanese Anime &amp; Manga</option>
                    <option value="23">Cartoon &amp; Animations</option>
                </select>
            </div>
        </div>
        <div class="form-group w-100">
            <label>Description</label>
            <textarea id="quizDescription" class="form-control text-center" maxlength="128" style="font-size: 22px;" required></textarea>
        </div>
    </div>
    
    <div id="quizField">
        <question-form
            v-for="(question, index) in questions"
            v-bind:key="index"
            v-bind:index="index"
            v-bind:question="question"
            v-on:change="onChange"
            v-on:collapse="onCollapse"
            v-on:remove="questions.splice(index, 1)">
        </question-form>
    </div>
    
    <hr>
    
    <button id="btnAddQuestion" type="button" class="btn btn-primary" style="margin: 5px; width: 98%">+ Add question</button>
    <button id="btnCreateQuiz" type="button" class="btn btn-success" style="margin: 5px; width: 98%">Create Quiz</button>
    
    <div id="deleteDiv" style="display: none">
        <hr>
        <button id="btnDeleteQuiz" type="button" class="btn btn-danger" style="margin: 5px; width: 98%">Delete Quiz</button>
    </div>
    
    <div class="alert alert-danger" style="display: none">
        <button type="button" class="close">&times;</button>
        Couldn't create quiz! Some fields are missing!
    </div>
</form>

@section Scripts
{
    <script>let model = @Json.Serialize(Model);</script>
    <script src="~/js/quiz/vueCreate.js" asp-append-version="true"></script>
    <environment include="Development">
        <script src="~/js/quiz/create.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/quiz/create.min.js" asp-append-version="true"></script>
    </environment>
}
