<div class="text-center">
    <h1 class="display-4">Quiz Maker</h1>
</div>

<div id="testings"></div>

<form asp-action="Create" id="quizForm" style="width: 555px; display: block; margin-right: auto; margin-left: auto;">
    <hr>
    <div class="container">
        <div class="row">
            <div style="width: 35%;">
                <div class="form-group">
                    <input id="quizImg" type="file"/>
                    <img width="150" id="quizImgPrev"/>
                </div>
            </div>
            <div style="width: 65%;">
                 <div class="form-group">
                     <label>Title</label>
                     <input id="quizTitle" type="text" class="form-control" required>
                 </div>
                 <div class="form-group">
                     <label>Category</label>
                     <input id="quizCategory" type="text" class="form-control" required>
                 </div>
                 <div class="form-group">
                     <label>Description</label>
                     <input id="quizDescription" type="text" class="form-control" required>
                 </div>
            </div>
        </div>
    </div>
    <div id="quizField"></div>
    <hr>
    <button id="btnAddQuizForm" type="button" class="btn btn-primary" style="margin: 5px; width: 98%">+ Add question</button>
    <button id="btnCreateQuiz" type="button" class="btn btn-success" style="margin: 5px; width: 98%">Create Quiz</button>
    
    <div class="alert alert-danger" style="display: none">
        <button type="button" class="close">&times;</button>
        Couldn't create quiz! Some fields are missing!
    </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function() {
            let getType = i => ["multiple_choice", "true_false"][i];
            let qfLength = () => $(".quizForm").length + 1;
            let getRoot = a => $(a).closest(".quizForm");

            $("#btnAddQuizForm").click(function() {
                $("#quizField").append(getQuizForm());
            });

            $("#btnCreateQuiz").click(function() {
                submitQuizForm();
            });

            $(".alert .close").click(function() {
                $(".alert").hide();
            });

            $(document).on("change", ".questionType", function(e) {
                let ans = getRoot(this).find(".correctAnswer");
                let alt = getRoot(this).find(".alternatives");

                switch (e.currentTarget.selectedIndex) {
                    case 0: {
                        alt.show();
                        ans.empty();
    
                        alt.find("input").each(function() {
                            $(this).attr("required", true);
                        });
    
                        ["A", "B", "C", "D"].forEach(e => {
                            ans.append($("<option></option>").text(e));
                        });
    
                        break;
                    } case 1: {
                        alt.hide();
                        ans.empty();
    
                        alt.find("input").each(function() {
                            $(this).attr("required", false);
                        });
    
                        [{ text: "True", value: true }, { text: "False", value: false }].forEach(e => {
                            ans.append($("<option></option>").attr("value", e.value).text(e.text));
                        });
    
                        break;
                    } default: {
                        console.error("Not a valid question type!");
                    }
                }
            });

            $(document).on("click", "button.removeQuizForm", function() {
                getRoot(this).remove();
                updateQuizForms();
            });

            $(document).on("click", "button.collapseQuizForm", function() {
                getRoot(this).find(".collapse").slideToggle("slow", "swing");
            });
            
            $(document).on("change", "input.questionImg", async function() {
                let path = await uploadImage(this.files[0]).catch(e => console.log(e));
                let questionImgPrev = getRoot(this).find(".questionImgPrev");
                questionImgPrev.attr('src', path);
            });

            $("#quizImg").change(async function() {
                let path = await uploadImage(this.files[0]).catch(e => console.log(e));
                quizForm.imagePath = path;
                $("#quizImgPrev").attr('src', path);
            });

            function uploadImage(file) {
                let formData = new FormData();
                formData.set('image', file);

                return new Promise(function(resolve, reject) {
                    axios.post('/api/uploadImage', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(function(response) {
                        resolve(response.data);
                    }).catch(function(err) {
                        reject(err);
                    });
                });
            }

            function updateQuizForms() {
                $(".collapseQuizForm").each(function(i) {
                    this.innerHTML = "Question " + (i + 1);
                });
            }

            function submitQuizForm() {
                if (qfLength() > 1 && $("#quizForm")[0].checkValidity()) {
                    let quizForm = {
                        topic: $("#quizTitle").val(),
                        category: $("#quizCategory").val(),
                        description: $("#quizDescription").val(),
                        imagePath: $("#quizImgPrev").attr('src'),
                        questions: []
                    };

                    $(".quizForm").each(function(i) {
                        let type = getType([$(this).find(".questionType")[0].selectedIndex]);
                        let a = $(this).find(".alternative");
                        let alt = type === "multiple_choice" ? JSON.stringify([a[0].value, a[1].value, a[2].value, a[3].value]) : null;

                        let question = {
                            correctAnswer: $(this).find(".correctAnswer").children("option:selected").val(),
                            questionText: $(this).find(".questionText")[0].value,
                            questionType: type,
                            imagePath: $(this).find(".questionImgPrev").attr('src'),
                            alternatives: alt,
                            difficulty: $(this).find(".questionDifficulty").children("option:selected").val().toLowerCase()
                    };

                        quizForm.questions.push(question);
                    });

                    console.log(quizForm);

                    axios.post('/api/create',
                        JSON.stringify(quizForm),
                        {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(function(response) {
                        console.log(response);
                    });
                } else {
                    $(".alert").show().delay(2000).fadeOut();
                }
            }

            function getQuizForm() {
                return `
                <div class="quizForm"><hr>
                    <button type="button" class="btn btn-light collapseQuizForm" style="width:100%">Question ${qfLength()}</button>
                    <div class="collapse">
                        <button type="button" class="close removeQuizForm" aria-label="Close">
                            <span aria-hidden="true" title="Remove Question" style="color:#dc3545;">&times;</span>
                        </button>
                        <label>Question Text</label>
                        <textarea class="border rounded bg-white questionText" required style="margin-bottom: 15px; padding: 5px; font-size: 30px; width: 100%; text-align: center;"></textarea>
                        
                        <label>Question Image</label>
                        <input type="file" class="btn btn-primary questionImg" style="margin: 5px; width: 98%" value="Add image"/>
                        <img style="display:block; margin:auto;" class="questionImgPrev" width="500"/>
                        
                        <div class="form-group">
                            <label>Question Difficulty</label>
                            <select class="form-control questionDifficulty">
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Question Type</label>
                            <select class="form-control questionType">
                                <option>Multiple Choice</option>
                                <option>True or False</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Correct Answer</label>
                            <select class="form-control correctAnswer">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </div>
                        
                        <div class="form-row alternatives">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative A" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative B" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative C" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control text-center alternative" placeholder="Alternative D" required>
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        });
    </script>
}
