
@model List<Quiz>

<div class="text-center">
    <h1 class="display-4">Qwizes</h1>
</div>
<hr>
<div class="container">
    <div class="row justify-content-center text-center">
        @foreach (var item in Model)
        {
            Html.RenderPartial("Quiz/_QuizCardPartial", item); 
        }
    </div>
</div>

@section Scripts
{
    <script>
        axios.get(`/api/getUser?id=1`).then(function(response) {
            console.log(response);
        });
    </script>
}
