@model IEnumerable<QuizChallenge>

<div class="text-center">
    <h1 class="display-4">Qwizes</h1>
</div>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Topic: @item.Topic</h5>
            <h6 class="card-title">Category: @item.Category</h6>
            <p class="card-text">Description: @item.Description</p>
            <a asp-action="Play" asp-route-id="@item.Id" class="btn btn-primary">Take quiz</a>
        </div>
    </div> 
}
