@model List<Question>

<div id="app" style="margin: 0 auto; width:50%">
    <div class="text-center">
        <h1 class="display-4" style="font-size: 40px; width: 100%; text-align: center;">{{quiz[page].question}}</h1>
    </div>
    
    <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar"></div>
    </div>
    
    <button id="btn_A" v-on:click="answer('A')" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">{{quiz[page].answerA}}</button>
    <button id="btn_B" v-on:click="answer('B')" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">{{quiz[page].answerB}}</button>
    <button id="btn_C" v-on:click="answer('C')" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">{{quiz[page].answerC}}</button>
    <button id="btn_D" v-on:click="answer('D')" type="button" class="btn btn-outline-dark" style="margin: 5px; width: 47.8%">{{quiz[page].answerD}}</button>
    <button v-on:click="next" type="button" class="btn btn-dark" style="margin: 5px; width: 98%">Next</button>
    
    <div class="text-center">
        <h1>{{resultMsg}}</h1>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(() => {
            console.log(@Html.Raw(Json.Serialize(Model)));
            let progressBar = $("#progressBar");

            let app = new Vue({
                el: '#app',
                data: {
                    quiz: @Html.Raw(Json.Serialize(Model)),
                    guessed: false,
                    page: 0,
                    correctAnswers: 0,
                    resultMsg: ''
                },
                methods: {
                    answer: function(alt) {
                        let self = this;
                        if (!self.guessed) {
                            axios.get('/api/answer?id=' + this.quiz[this.page].id).then(function(response) {
                                $("#btn_" + response.data).css("background-color", "#28a745");
                                
                                if (response.data !== alt) $("#btn_" + alt).css("background-color", "#dc3545");
                                else self.correctAnswers++;

                                self.guessed = true;
                            });
                        }
                    },
                    next: function() {
                        if (this.page < this.quiz.length - 1) {
                            ['#btn_A', '#btn_B', '#btn_C', '#btn_D'].forEach(e => $(e).css("background-color",
                                "transparent"));
                            this.page++;
                            this.guessed = false;
                        } else {
                            this.resultMsg = `${this.correctAnswers} of ${this.quiz.length} questions correct!`;
                        }
                    }
                }
            });
        });
    </script>
}
